@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Proza Libre", sans-serif; */
  scroll-behavior: smooth;
}

body {
  background-color: #f1f5f6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(79, 79, 79);
}
